*{ 
	margin:0;
	padding:0;
	outline:none;
}
body{
	font-family:verdana,helvetica,arial,sans-serif;
	background-color:#3E3027;
	font-size:16px;
}
ul{
	list-style:none;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
button{
	cursor:pointer;
}
sup{
	color:#f00;
}
.inValidMsg{
	color:#f00;
	font-size:11px;
	margin-top:5px;
}
.container{
	background-color:#FDF7D7;
	width:1002px;
	min-height:630px;
	margin:0 auto;
}
header{
	height:120px;
	background:#5A3511;
}
.logo{
	color:#fff;
	float:left;
	font-family:arial;
	font-size:2em;
	font-weight:bold;
	margin:15px;
}
.loginBar{
	background-color:#30211E;
	float:right;
	padding:15px;
	margin:0 15px; 0 0;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.loginBar li{
	display:inline;
}
.loginBar input[type="text"],.loginBar input[type="password"]{
	border:none;
	background:#F3DAC6;
	padding:10px;
	border-radius:4px;
}
.loginBar button{
	background-color:#A54D29;
	border:none;
	padding:10px;
	border-radius:6px;
}
.coverImg{
	margin:0 auto;
	width:987px;
}
.coverImg img{
	width:987px;
	max-height:100%;
	margin:8px 0;
}
nav{
	float:left;
	width:20%;
}
nav ul{
	list-style:none;
	margin:30px 20px 0 0;
}
nav li{
	background:#FFE1AB;			
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	font-size:14px;
	font-weight:bold;
	margin-bottom:15px;
	text-align:center;
}
nav li a{
	color:#D5A476;
	text-decoration:none;
	display:block;
	padding:10px;
}
nav li a:hover, nav li.active a{
	color:#5A3511;
	}
nav li:hover, nav li.active{
	background: #E8C078;
	cursor:pointer;
}
section{
	float:left;
	width:80%;
}
.feedblock{
	border-radius:5px;
	min-height:500px;
	margin:30px 10px;
}
.feedblock .postText{
	border:1px solid #D3C58E;
	padding:10px;
	border-radius:6px;
	width:80%;
}
.feedblock button{
	background:#5A3511;
	border:none;
	border-radius:10px;
	color:#fff;
	font-size:16px;
	padding:10px;
	float:right;
	width:16%;
}
.feedList{
	margin-top:50px;
}
.feedList li{
	background:#F7E99E;
	border-radius:6px;
	margin:20px 0;
	padding:10px;
	overflow:hidden;
	position:relative;
}
.feedList li.alt{
	background:#fff;
}
.feedList .profileImg{
	border:1px solid #f7f7f7;
	background:#fff;
	height:70px;
	float:left;
	padding:5px;
}
.feedList .profileImg img{
	height:70px;
}
.feedList .feedContent{
	font-size:14px;
	margin-left:100px;
}
.feedList .feedContent p{
	height: 67px;
	vertical-align: middle;
	display: table-cell;
}
.feedList time{
	float:right;
	font-size:12px;
}
.feedList .del{
	color:#f00;
	cursor:pointer;
	display:none;
	position: absolute;
	right: 10px;
	top: 0;
}
.feedList li:hover .del{
	display:block;
}
.profileBlock{
	min-height:500px;
}
.profileBlock form{
	margin:30px;
}
.profileBlock li{
	margin-bottom:15px;
	width:442px;
}
.profileBlock input[type="text"],
.profileBlock input[type="number"],
.profileBlock input[type="file"],
.profileBlock textarea{
	border:1px solid #D3C58E;
	padding:10px;
	border-radius:6px;
	width:400px;
}
.profileBlock textarea{
	height:100px;
}
.profileBlock input[type="button"]{
	cursor:pointer;
}
.profileBlock input[type="button"]:disabled{
	background:#D3CEC9;
	cursor:default;
}
.profileBlock .save{
	background:#5A3511;
	border:none;
	border-radius:10px;
	color:#fff;
	font-size:16px;
	padding:10px;
	float:right;
	margin-right:20px;
}
.imagePreview{
	background:#fff;
	border:1px solid #f7f7f7;
	padding:5px;
	margin:0 50px 0 0;
	float:right;
}
.imagePreview  img{
	height:200px;
	width:200px;
}
footer{
	border-top:1px solid #D5A476;
	text-align:center;
	font-size:12px;
	height:25px;
	line-height:25px;
}